<%= form_for(@aplicarcobranza) do |f| %>
  <% if @aplicarcobranza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplicarcobranza.errors.count, "error") %> prohibited this aplicarcobranza from being saved:</h2>

      <ul>
      <% @aplicarcobranza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
