<%= form_for(@listaprecio) do |f| %>
  <% if @listaprecio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listaprecio.errors.count, "error") %> prohibited this listaprecio from being saved:</h2>

      <ul>
      <% @listaprecio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
