<!DOCTYPE html>
<html>
<head>
  <title>CAT PRO</title>
  <style>
    body {
      overflow-x: hidden;
    }

    a {
      color:black;
    }
      .item {
      height:200px;
      width:25%;
      border:15px solid white;
      background-color: #ECEDEF;
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: center;
      /*text-align: left;
      vertical-align: text-top;*/
      padding: 2% 1% 2% 1%;
      /*color:#585858;
      font-size: 150%;
      font-weight: bold;*/
      float:left;
      border-radius: 20px;
      display: inline-block;
    }
    .item:hover {
      color:#424242;
      background-color: #D0DEAB;
      background-size: 35%;
      font-size: 105%;
    }
    .precioExistencia {
      border:1px solid black;
      text-align: right;
      vertical-align: middle;
      /*middle: 25px;*/
    }
    .item h1 {
      color:#585858;
      font-size: 150%;
      vertical-align: text-top;
      text-align: left;
    }
    .item h2 {
      color:#585858;
      font-size: 100%;
      text-align: right;
      margin-bottom: 1cm;
      border: 0px solid blue;
    }    
    .filtroAplicado {
      color:grey;
    }
    #cat_fil_aplicados {
      display:none;
    }
      .itemA {
      height:200px;
      width:25%;
      border:15px solid white;
      background-color: white;
      padding: 0% 1% 1% 1%;
      float:left;
      border-radius: 20px;
      display: inline-block;
    }
    .itemA:hover {
      color:#424242;
      background-color: #D0DEAB;
      font-size: 105%;
      border:15px solid #D0DEAB;
    }
    .bgImage {
      border:0px solid black;
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .txtPrecioLeft {
      width: 100%;
    }
    .txtPrecioRight {
      width: 100%;
    }
    /* CARRITO DE COMPRA*/
    .addProductLeft{
      padding: 1px 1px 1px 1px;
      border:0px solid green;
    }
    .addProductRight {
      padding: 1px 1px 1px 1px;
      border:0px solid blue;
    }
    .cartValue {
      padding: 2% 1% 2% 1%;
      border:0px solid black; 
      font-size: 160%;
      color: black;
    }
    .cartPrecio {
      padding: 2% 1% 2% 1%;
      border:0px solid pink;
      font-size: 250%;
      color: #2980b9;
      font-weight: bold;
    }
    .cartInventario {
      padding: 2% 1% 2% 1%;
      border:0px solid purple;
      font-size: 160%;
      color: black;
    }
    .cartBtn {
      padding: 1% 1% 1% 1%;
      border:0px solid black; 
      font-size: 160%;
      color: black;
    }
    .cartCantidad {
      font-size: 160%;
      color: black;
      padding: 1% 1% 1% 1%;
      border:0px solid black; 
    }
    .cartCantidad input[type=text]{
      text-align:center;
      width: 15%;
      font-size: 100%;
      color:#2980b9;
      border-radius: 7px;
      font-weight: bold;
    }
    .btn-anadir {
      width: 80%;
      padding: 3% 0% 3% 0%;
      border-radius: 5px;
    }
    .btn-close {
      border:0px solid white;
      background-color: transparent;
      font-size: 150%;
      font-weight: bold;
    }

  </style>
</head>
<body><br><br><br><br><br><br>
  <div align="center"><h1>Catálogo de Productos</h1></div>
  <div id="alertas" style="width:100%;border:0px solid black;"></div>
  <div>
    <!--<div id="cat_filter" style="float:left;width:10%;"></div>-->
    <div id="cat_side" style="float:left;width:15%;">
      <div id="cat_fil_aplicados"><strong>Filtros Aplicados</strong><br><a class="borraFiltros">Borrar Filtros</a></div><br>
      <div id="cat_filter"></div>
    </div>
    <div id="cat_pro" style="float:left;width:85%;"></div>
  </div>

  <script type="text/javascript">
  var allData = {};
  var filterData = {};
  var allPrice = {};
  var charHead = [];
  var charItem = [];
  var itemsChar = {
    heads: charHead,
    items: charItem
  };
  $(document).ready( function() {
    console.log("Catalogo.");
    var cato = $('#cat_pro').Catalogo({
      koalas: "kaolitis"
  }).data('Catalogo');

  console.log("$> Consumir Servicio");
  var datox = {};
  $.ajax({
          type:"GET",
          dataType : 'json',
          url: "api/v1/precios",
          success: function(datos){
          console.log("Precios", datos);
          allPrice = jsonConstructorPrice(datos);
        $.ajax({
          type:"GET",
          dataType : 'json',
          url: "api/v1/productos",
          success: function(datos){
            console.log("Productos", datos);
            allData = jsonConstructor(datos, allPrice);
            filterData = allData;
            cato.drawFiltros(allData);
            cato.setData(allData);
            },
          error:  function(){ 
            var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor.</h3></div>'
            document.getElementById("cat_pro").innerHTML = mensajeError;
          }
        }); // termina productos
          //cato.setData(allData);
      },
          error:  function(){ 
          var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor [Pricing].</h3></div>'
            document.getElementById("cat_pro").innerHTML = mensajeError;
          }
  });  
  $("#cat_pro").on('keyup', '.btn_search', function (e) {
    console.log("Busqueda");
    e.preventDefault();
    var parametro = document.getElementById("txt_search").value;
    cato.setData(buscarPalabra(parametro));
    document.getElementById("txt_search").value = parametro;
    $( "#txt_search" ).focus();
  });
  $("#cat_pro").on('click', '.addProduct', function (e) {
    console.log("ADD PRODUCT HTML");
    e.preventDefault();
    $("body").scrollTop(0);
    console.log("E: ", e);
    var productId = e.currentTarget.id;
    document.getElementById("cat_pro").innerHTML = buildAddProduct(productId);
  });
  $("#cat_pro").on('click', '.submitProduct', function (e) {
    console.log("SUBMIT PRODUCT HTML", e);
    e.preventDefault();
    var productid = e.currentTarget.id;
    var precio = document.getElementById("cartPrecio").innerHTML;
    var inventario = document.getElementById("cartInventario").innerHTML;
    var cantidad = document.getElementById("cartCantidad").value;
    var product = document.getElementById("hdnProduct").value;
    var product_value = document.getElementById("hdnValue").value;
    var imagenurl = document.getElementById("hdnImagen").value;
    var inventarioMaximo = parseFloat(inventario.replace(" Piezas disponibles.", "");
    // Valida inventario
    if (parseFloat(inventario.replace(" Piezas disponibles.", "")) < parseFloat(cantidad)) {
      // No hay inventario despliega la alerta.
      $("body").scrollTop(0);
      document.getElementById('alertas').innerHTML = buildAlertError("Stock Insuficiente", "No hay suficiente stock para colocar tu pedido, prueba con menos producto.");
    } else {
      // Hay inventario Procede el submit del producto
      $.ajax({
                type:"GET",
                dataType : 'html',
                url: "/pedidolineas?usuario_id=<%=current_usuario.id%>&producto_id=" + productid + '&cantidad=' + cantidad + '&precio=' + precio.replace("$", "") + "&producto=" + product + "&product_value=" + product_value + "&imagenurl=" + imagenurl + "&invmax=" + inventarioMaximo,
                success: function(datos){
                console.log("$> linea añadida");     
                // Reestablecer Catálogo
                filterData = allData;
                cato.drawFiltros(allData);
                cato.setData(allData);
                document.getElementById('cat_fil_aplicados').style.display = 'none';
                jQuery('#cat_fil_aplicados div').html('');
                // Deseleccionar los checks de marca
                $("#cat_filter input[type=checkbox]").prop('checked', false);
                // Desplegar mensaje de producto agregado.
                document.getElementById('alertas').innerHTML = buildAlertSuccess("Producto Agregado", "Se ha agregado el producto correctamente a tu carrito de compra.");
                $("body").scrollTop(0);
                },
                error:  function(){ 
                var mensajeError = '<br><br><br><div align="center"><h1>ERROR ADD LINEA</h3></div>'
                  document.getElementById("cat_pro").innerHTML = mensajeError;
                }
        });      
    }
  });
$("#cat_pro").on('click', '.close_cart', function (e) {
    console.log("CANCELAR PRODUCT HTML", e);
    e.preventDefault();
    cato.setData(allData);
    filterData = allData
    // limpiar la sección filtros aplicados
    document.getElementById('cat_fil_aplicados').style.display = 'none';
    jQuery('#cat_fil_aplicados div').html('');
    // Deseleccionar los checks de marca
    $("#cat_filter input[type=checkbox]").prop('checked', false);      
  });
  $("#cat_filter").on('click', '.fil_marca', function (e) {
    console.log("Filtro de Marca");
    e.preventDefault();
    filtroMarca(e.target.innerText);
    $("body").scrollTop(0);
  });
  $("#cat_filter").on('click', '.fil_cat', function (e) {
    console.log("Filtro de Categoria");
    e.preventDefault();
    filtroCat(e.target.innerText);
    $("body").scrollTop(0);
  });
  $("#cat_filter").on('click', '.fil_car', function (e) {
    console.log("Filtro de Caracteristica");
    e.preventDefault();
    filtroCar(e.target.id, e.target.innerText);
    $("body").scrollTop(0);
  });  
  $("#cat_side").on('click', '.borraFiltros', function (e) {
    console.log("Borrar Filtros");
    e.preventDefault();
    cato.setData(allData);
    filterData = allData
    // limpiar la sección filtros aplicados
    document.getElementById('cat_fil_aplicados').style.display = 'none';
    jQuery('#cat_fil_aplicados div').html('');
    // Deseleccionar los checks de marca
    $("#cat_filter input[type=checkbox]").prop('checked', false);
  });
  $("#cat_side").on('keypress', '.txtPrecioLeft', function (e) {
    console.log("Filtro Precio Desde");
    e.preventDefault();
    //console.log("EVENT: ", e);
    var currentEnter = String.fromCharCode(e.keyCode);
    var currentContent = document.getElementById('precioDesde').value;
    document.getElementById('precioDesde').value = currentContent + currentEnter;
    var keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
      filtroPrecio();
    }
  });
  $("#cat_side").on('keypress', '.txtPrecioRight', function (e) {
    console.log("Filtro Precio Hasta");
    e.preventDefault();
    //console.log("EVENT: ", e);
    var currentEnter = String.fromCharCode(e.keyCode);
    var currentContent = document.getElementById('precioHasta').value;
    document.getElementById('precioHasta').value = currentContent + currentEnter;
    var keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
      filtroPrecio();
    }
  });  
  // FILTRO MULTI SELECCION
  $("#cat_filter").on('change', '.fil_marca_chk', function (e) {
    console.log("Filtro de Categoria");
    e.preventDefault();
    console.log("id: " + e.target.id);
      var selected = [];
      $('#cat_filter input:checked').each(function() {
          selected.push($(this).attr('id'));
      });
      console.log("selected: ", selected);
      multiFiltroCategoria(selected);
      $("body").scrollTop(0);    
  });
  $("#cat_filter").on('change', '.fil_multi', function (e) {
    console.log("Filtro de Multiseleccion");
    e.preventDefault();
    console.log("id: " + e.target.id);
      var selected = [];
      $('#cat_filter input:checked').each(function() {
          selected.push($(this).attr('id'));
      });
      console.log("selected: ", selected);
      multiFiltros(selected);
      $("body").scrollTop(0);    
  });  
  function jsonConstructor(json, allPrice) {
    console.log("ALLPRICE: ", allPrice);
    console.log("JSONPROD: ", json);
    //name, value, familia, descargaimg, id
      var rows = [];
      var jsonObject = json.response;
      var jsonRows = allPrice.rows;
      
      for (var i=0;i<jsonObject.totalRows;i++) {
          var row = {};
          row.Producto_ID     = jsonObject.data[i].id;
          row.Nombre          = jsonObject.data[i].name;
          row.Identificador   = jsonObject.data[i].value;
          row.Familia         = jsonObject.data[i].familia;
          row.DescargaImg     = jsonObject.data[i].descargaimg;
          row.Inventario      = jsonObject.data[i].inventario;
          row.Marca           = jsonObject.data[i].marca;
          row.Categoria       = jsonObject.data[i].categoria;
          //row.Caracteristicas = jsonObject.data[i].caracteristicas;
          if (jsonObject.data[i].image == "Y"){
            row.Image = "imagenesProductos/" + jsonObject.data[i].id + ".png";
          } else {
            // Asignar una imagen por marca si no coicide la marca row.Image = "N"
            row.Image = imagenMarca(row.Marca, row.Categoria);
            if (row.Image == "N") {
              row.Image = "imagenesProductos/noimage.png";
            }
          }
        for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          if (obj.Producto_ID == jsonObject.data[i].id) {
              row.Precio = obj.Precio;
          }
        }
        if (typeof(row.Precio) == "undefined"){
          console.log("$> Hace precio 0");
          row.Precio = 0;
        }
        // Gestionar caracteristicas
        if (jsonObject.data[i].caracteristicas != null) {
          var caracteristicas = (jsonObject.data[i].caracteristicas).split("_");
            for (var j = 0; j < caracteristicas.length; j++) {
              carItems = caracteristicas[j].split(":");
              row[carItems[0]] = carItems[1];
              // Si no existe agrega el encabezado
              if (itemsChar.heads.indexOf(carItems[0]) == -1) {
                itemsChar.heads.push(carItems[0]);
              }
              // Si no existe agrega el item
              if (itemsChar.items.indexOf(carItems[0] + "_" + carItems[1]) == -1) {
                itemsChar.items.push(carItems[0] + "_" + carItems[1]);
              }
            }
        }
        // GC 
          rows.push(row);
      } 
      // Definir columnas
      var cols = {
          Nombre: {
              index: 1,
              type: "string",
              friendly: "Nombre"
          },
          Identificador: {
              index: 2,
              type: "string",
              friendly: "Identificador"
          },
          Familia: {
              index: 3,
              type: "string",
              friendly: "Familia"
          },
          DescargaImg: {
              index: 4,
              type: "string",
              hidden: true
          },
          Producto_ID: {
              index: 5,
              type: "string",
              id: true,
              hidden: true
          }
      };
      // Contruir el json de datos
      console.log("$> ITEMS: ", itemsChar);
      var data = {
                  cols: cols,
                  rows: rows
              };
      console.log("$> Termina Construcción Productos");        
      return data;
  }  // Termina json Constructor

    function jsonConstructorPrice(json) {
    //name, value, familia, descargaimg, id
      var rows = [];
      var jsonObject = json.response;
      for (var i=0;i<jsonObject.totalRows;i++) {
          var row = {};
          row.Producto_ID = jsonObject.data[i].product;
          row.Precio = jsonObject.data[i].pricelist11;
          rows.push(row);
      } 
      // Definir columnas
      var cols = {
          Nombre: {
              index: 1,
              type: "string",
              friendly: "Nombre"
          },
          Identificador: {
              index: 2,
              type: "string",
              friendly: "Identificador"
          },
          Familia: {
              index: 3,
              type: "string",
              friendly: "Familia"
          },
          DescargaImg: {
              index: 4,
              type: "string",
              hidden: true
          },
          Producto_ID: {
              index: 5,
              type: "string",
              id: true,
              hidden: true
          }
      };
      // Contruir el json de datos
      var data = {
                  cols: cols,
                  rows: rows
              };
      console.log("$> Termina Construcción Precios");              
      return data;
  }  // Termina json Constructor

function buscarPalabra(palabra) {
  var rowsNuevos = [];
  // recorrer alldata
  for (var i=0;i<filterData.rows.length;i++) {
    var currentName = filterData.rows[i].Nombre;
    currentName = currentName.toUpperCase();
    if (currentName.indexOf(palabra.toUpperCase()) > -1) {
      rowsNuevos.push(filterData.rows[i]);
    }
  }
  var rowsNuevos = {
                cols: filterData.cols,
                rows: rowsNuevos
            };
  
  return rowsNuevos;
}
/*function setDatafiltro(datos){
  cato.setData(datos);
*/
  function filtroMarca(marca){
      var jsonRows = filterData.rows;
      var rowsNuevos = [];
      for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          if (obj.Marca == marca) {
              rowsNuevos.push(obj);
          }
      }
      
      var data = {
          cols: allData.cols,
          rows: rowsNuevos
      };
      // Actualizar Filtros Aplicados
      document.getElementById('cat_fil_aplicados').style.display = 'block';
      var innerDiv = document.createElement('div');
      innerDiv.innerHTML = marca;
      innerDiv.className = 'filtroAplicado';
      var iDiv = document.getElementById('cat_fil_aplicados');
      iDiv.appendChild(innerDiv);
      //
      filterData = data;
      cato.setData(data);
  } 
  function filtroCat(categoria){
      var jsonRows = filterData.rows;
      var rowsNuevos = [];
      for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          if (obj.Categoria == categoria) {
              rowsNuevos.push(obj);
          }
      }
      var data = {
          cols: allData.cols,
          rows: rowsNuevos
      };
      // Actualizar Filtros Aplicados
      document.getElementById('cat_fil_aplicados').style.display = 'block';
      var innerDiv = document.createElement('div');
      innerDiv.innerHTML = categoria;
      innerDiv.className = 'filtroAplicado';
      var iDiv = document.getElementById('cat_fil_aplicados');
      iDiv.appendChild(innerDiv);
      //
      //setDataFiltro(data);
      filterData = data;
      cato.setData(data);
  }  
  function filtroCar(caracteristica, valor){
      console.log("Filtro CAR");
      console.log("En la caracteristica " + caracteristica + " buscar el valor " + valor);
      var jsonRows = filterData.rows;
      var rowsNuevos = [];
      for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          //console.log("$> obj." + caracteristica + " = " + obj[caracteristica]);
          //console.log("$> OBJ ", obj);
          if (obj[caracteristica] == valor) {
              rowsNuevos.push(obj);
          }
      }
      var data = {
          cols: allData.cols,
          rows: rowsNuevos
      };
      // Actualizar Filtros Aplicados
      document.getElementById('cat_fil_aplicados').style.display = 'block';
      var innerDiv = document.createElement('div');
      innerDiv.innerHTML = valor;
      innerDiv.className = 'filtroAplicado';
      var iDiv = document.getElementById('cat_fil_aplicados');
      iDiv.appendChild(innerDiv);
      //
      //setDataFiltro(data);
      filterData = data;
      cato.setData(data);
  }
  function filtroPrecio(){
    console.log("$> " + document.getElementById('precioDesde').value + " - " + document.getElementById('precioHasta').value);
      var precioDesde = document.getElementById('precioDesde').value;
      var precioHasta = document.getElementById('precioHasta').value;
      if (precioHasta == null) {precioHasta = 0;}
      if (precioDesde == null) {precioDesde = 0;}
      var jsonRows = filterData.rows;
      var rowsNuevos = [];
      for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          if (obj.Precio >= precioDesde && obj.Precio <= precioHasta) {
              rowsNuevos.push(obj);
          }
      }
      var data = {
          cols: allData.cols,
          rows: rowsNuevos
      };
      // Actualizar Filtros Aplicados
      //document.getElementById('cat_fil_aplicados').style.display = 'block';
      //var innerDiv = document.createElement('div');
      //innerDiv.innerHTML = categoria;
      //innerDiv.className = 'filtroAplicado';
      //var iDiv = document.getElementById('cat_fil_aplicados');
      //iDiv.appendChild(innerDiv);
      //
      //setDataFiltro(data);
      filterData = data;
      cato.setData(data);
  }
// FILTROS MULTISELECCIÓN
function multiFiltroMarca(marcas){
      var jsonRows = allData.rows;
      var rowsNuevos = [];
      for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          if (marcas.indexOf(obj.Marca) > -1) {
              rowsNuevos.push(obj);
          }
      }
      
      var data = {
          cols: allData.cols,
          rows: rowsNuevos
      };
      // Actualizar Filtros Aplicados
      document.getElementById('cat_fil_aplicados').style.display = 'block';
      filterData = data;
      cato.setData(data);
  } 
function multiFiltros(checks){
      var jsonRows = allData.rows;
      var rowsNuevos = [];
      varMar = false;
      varCat = false;
      varCar = false;
      prodAdd = false;
      // validar existencia de categorias, marcas y caracteristicas
      console.log("ChKs: ", checks );
      for (var key in jsonRows) {
          var obj = jsonRows[key];
          if (!varMar && checks.indexOf(obj.Marca)>-1){
            console.log("la marca " + obj.Marca + " esta en mis filtros.");
            varMar = true;
          }
          if (!varCat && checks.indexOf(obj.Categoria)>-1){
            console.log("la categoria " + obj.Categoria + " esta en mis filtros.");
            varCat = true;
          }

      }          
      console.log("varCat: " + varCat);
      console.log("varMar: " + varMar);
      console.log("varCar: " + varCar);
      for (var key in jsonRows) {
          var obj = jsonRows[key]; 
          if ((checks.indexOf(obj.Categoria) > -1 && checks.indexOf(obj.Marca) > -1 && varCat && varMar) || (checks.indexOf(obj.Categoria) > -1 && !varMar) || (checks.indexOf(obj.Marca) > -1 && !varCat)) {
              rowsNuevos.push(obj);
              prodAdd = true;
          } else {
            // validaciones para caracteristicas
            for (var ch = 0;ch<checks.length;ch++) {
              var arrayCar = checks[ch].split("_");
              if (arrayCar.length = 2){
                console.log("Entra a validar caracteristicas");
                if (checks.indexOf(arrayCar[0] + '_' + obj[arrayCar[0]]) > -1 && !prodAdd){
                  rowsNuevos.push(obj);   
                }
              }              
            }
          }
        prodAdd = false;
      }
      
      var data = {
          cols: allData.cols,
          rows: rowsNuevos
      };
      // Actualizar Filtros Aplicados
      document.getElementById('cat_fil_aplicados').style.display = 'block';
      if (checks.length == 0){
        console.log("vacio");
        data = allData;
      }
      filterData = data;
      cato.setData(data);
  }  
// extra
  function imagenMarca(marca, categoria){
    imagen = "N";
    if (marca == "11 - AGM") {
      imagen = "imagenesProductos/imagenesMarca/agm.png";
    }
    if (marca == "21 - AMERICA") {
      imagen = "imagenesProductos/imagenesMarca/america.png";
    }
    if (marca == "30 - CRONOS") {
      imagen = "imagenesProductos/imagenesMarca/cronos.png";
    }
    if (marca == "28 - DIENER") {
      imagen = "imagenesProductos/imagenesMarca/diener.png";
    }
    if (marca == "50 - FILTROS LTH") {
      imagen = "imagenesProductos/imagenesMarca/filtros.png";
    }
    if (marca == "15 - HEAVY DUTY") {
      imagen = "imagenesProductos/imagenesMarca/heavyduty.png";
    }
    if (marca == "12 - HI-TEC") {
      imagen = "imagenesProductos/imagenesMarca/hitec.png";
    }
    if (marca == "40 - MOTOBATERIAS") {
      imagen = "imagenesProductos/imagenesMarca/motobateria.png";
    }
    if (marca == "10 - OPTIMA") {
      imagen = "imagenesProductos/imagenesMarca/optima.png";
    }
    if (marca == "31 - POWER CONNECTION") {
      imagen = "imagenesProductos/imagenesMarca/powerconnection.png";
    }
    if (marca == "RE") {
      imagen = "imagenesProductos/imagenesMarca/re.jpg";
    }
    if (categoria == "4 - LUBRICANTES") {
      imagen = "imagenesProductos/imagenesCategoria/lubricante.png";
    }
    return imagen;
  }
function buildAddProduct(productID){
  var buildHTML = '<h3>Añadir Producto</h3><br>'
  // Buscar el producto.
  var jsonRows = allData.rows;
  for (var key in jsonRows) {
      var obj = jsonRows[key]; 
      if (obj.Producto_ID == productID) {
        //buildHTML += '<div style="border:1px solid orange;widht:100%;"><div class="addProductLeft">&nbsp;</div><div class="addProductRight">&nbsp;</div></div>';
        buildHTML += '<br><div style="border:0px solid blue;width:100%;">';
        buildHTML += '<div style="border:0px solid green;width:60%;float:left;height:100%;" align="center"><img src="'+obj.Image+'" width="50%"></img></div>';
        // Panel Derecho Titulo
        buildHTML += '<div style="border:0px solid red;width:40%;float:left;height:100%;padding:1% 1% 1% 1%;">';
        buildHTML += '<div style="border:0px solid red;width:100%" align="right"><input type="button" value="x" class="btn-close close_cart"/></div>';
        buildHTML += '<div align="left"><h2>'+obj.Nombre+'</h2></div>';
        //buildHTML += '<p>$' + obj.Precio + '<br>' + obj.Inventario + '<br>' + obj.Identificador + '<br></p>';
        // Identificador
        buildHTML += '<div class="cartValue" id="cartValue">' + obj.Identificador + '</div>';
        // Precio
        buildHTML += '<div class="cartPrecio" id="cartPrecio">$' + obj.Precio + '</div>';
        // Inventario
        buildHTML += '<div class="cartInventario" id="cartInventario">' + obj.Inventario + ' disponibles.</div>';
        // Cantidad
        buildHTML += '<hr width="80%" align="left"><div class="cartCantidad">Cantidad: &nbsp;<input type="text" id="cartCantidad" value="1"/></div>';
        // BtonAgregar
        buildHTML += '<div class="cartBtn" align="left"><br><input id="' + obj.Producto_ID + '" type="button" value="añadir producto al carrito" class="btn btn-default btn-anadir submitProduct"> </div>';
        // Valores ocultos para envío de parametros
        buildHTML += '<input type="hidden" id="hdnProduct" value="'+obj.Nombre+'"/><input type="hidden" id="hdnValue" value="'+obj.Identificador+'"/><input type="hidden" id="hdnImagen" value="'+obj.Image+'"/>';

        // Cierra panel derecho
        buildHTML += '</div></div>';
      }
  }
  return buildHTML;
}
function buildAlertSuccess(titulo, mensaje){
  return '<div id="alert_limite" class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>' + titulo + '</h4><p>' + mensaje + '<br>Visita tu carrito de compra <a href="/carrito">aqui</a></p></div>';
}
function buildAlertError(titulo, mensaje){
  return '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>' + titulo + '</h4><p>' + mensaje + '</p></div>';
}
});
  </script>
</body>
</html>