<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CBNZA</title>
		<style>
			.itemHd {
				position: absolute;
			    top: 0;
			    width: 100%;
			    padding-top: 5%;
			    padding-bottom: 3%;
			    font-weight: bold;
			}
			.itemImg {
				font-size: 150%;
				padding-top: 5%;
				padding-bottom: 5%;
				color:#1C1C1C;
			}
			.itemFoot {
				padding-top: 2%;
				padding-bottom: 4%;
				font-size: 70%;
			}
			.addedItem {
				position: relative;
				display: inline-block;
				margin: .2em 0 .5em .5em;
				width: 12em;
				height: 4em;
				border-radius: 4px;
				background: #6686a7;
				text-align: center;
				padding-top: 2%;
				font-weight: bold;
				-webkit-transition: -webkit-transform 0.3s, background 0.3s;
			  transition: transform 0.3s, background 0.3s;
			}
			.addedItem2 {
				position: relative;
				display: inline-block;
				margin: .2em 0 .5em .5em;
				width: 12em;
				height: 4em;
				border-radius: 4px;
				background: #6686a7;
				text-align: center;
				font-weight: bold;
				-webkit-transition: -webkit-transform 0.3s, background 0.3s;
			  transition: transform 0.3s, background 0.3s;
			}
			.addedDocNo {
				width:80%;
				align-text:center;
				float:left;
				font-weight: bold;
				font-size: 150%;
				padding-top: 7%;
			}
			.addedDelete {
				background-color:#c0392b;
				width:20%;
				float:left;
				height:100%;
				padding-top: 7%;
				border-top-right-radius:4px;
				border-bottom-right-radius:4px;
			}
			/* AGREGADO PARA AREA DE PROCESADO */
			.proc-area_cbza {
				z-index: 110;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			    text-align:center;
			    background: rgba(0,0,0,0.7);
			    display:none;
			}
			.listadoAgregados {
				z-index: 111;
				position: fixed;
				top: 12%;
				left: 5%;
				width: 90%;
				height: 80%;
				background-color: white;
				border-radius: 10px;
				padding: 3% 2% 1% 2%;
			}
			.itemAgregado {
				z-index: 112;
				width: 90%;
				margin-bottom: .2%;
				background-color: blue;
				color:#424242;
				font-weight: bold;
			}
			.addDocno {
				width: 30%;
				background-color: transparent;
				float:left;
				padding: .4% 1% .4% 1%;
				margin-bottom: .2%;
				text-align: left;
				font-weight: bold;
				font-size: 180%;
				border-bottom: 1px solid #7f8c8d;
			}
			.addFecha {
				width: 35%;
				background-color: transparent;
				float:left;
				padding: .4% 1% .4% 1%;
				margin-bottom: .2%;
				text-align: left;
				font-weight: bold;
				font-size: 180%;
				border-bottom: 1px solid #7f8c8d;
			}
			.addTotal {
				width: 10%;
				background-color: transparent;
				float:left;
				padding: .4% 1% .4% 1%;
				margin-bottom: .2%;
				text-align: right;
				font-weight: bold;
				font-size: 180%;
				border-bottom: 1px solid #7f8c8d;
			}
			.addPendiente {
				width: 10%;
				background-color: transparent;
				float:left;
				padding: .4% 1% .4% 1%;
				margin-bottom: .2%;
				text-align: right;
				font-weight: bold;
				font-size: 180%;
				border-bottom: 1px solid #7f8c8d;
			}
			.addCaptura {
				width: 10%;
				background-color: transparent;
				float:left;
				margin-bottom: .2%;
				text-align: right;
				font-weight: bold;
				border-bottom: 1px solid #7f8c8d;
			}			
			.addCaptura input[type=text] {
				width: 100%;
				height: 100%;
			    margin: 0%;
				background-color: #F3F781;
				text-align: right;
				font-size: 185%;
			}	
			.deleteCaptura {
				width: 5%;
				background-color: transparent;
				float:left;
				margin-bottom: .2%;
				text-align: right;
				font-weight: bold;
				font-size: 180%;
				color:red;
			}
			.deleteCaptura a {
				color:red;
			}			
		</style>
	</head>
	<body class="skin-1" bgcolor="white">
		<!-- LISTADO DE DOCUMENTOS AGREGADOS -->
		<div id="proc-area_cbza" class="proc-area_cbza">
			<div id="listadoAgregados" class="listadoAgregados" align="center"></div>
		</div>
		<!-- LISTADO DE DOCUMENTOS AGREGADOS -->
		<input type="hidden" id="allinclused">
		<div class="container">
			<div class="content" style="background-color:transparent;">
				<br><br><br><br>
				<div  align="right">
					<button type="button" class="btn btn-default procesar_documento hover_clean" aria-
					label="Left Align">
						<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>&nbsp;Procesar
					</button>
					<button type="button" id="btn_edit" class="btn btn-default editar_side hover_clean" aria-
					label="Left Align">
						<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>&nbsp;Editar
					</button>					
				</div>				
				<br><br><br>
				<!--<div id="grid" class="grid clearfix" style="background-color:red;" width="100%">-->
				<div id="grid" style="padding:1% 5% 1% 5%;" width="70%">
				</div>

			</div><!-- /content -->
		</div><!-- /container -->
		<div id="drop-area" class="drop-area">
			<br><br><br><br>
			<div id="agregados">
				<div class="drop-area__item"><div class="dummy"></div></div>
			</div>
		</div>
		<div class="drop-overlay"></div>
		<!--<script src="js/draggabilly.pkgd.min.js"></script>
		<script src="js/dragdrop.js"></script>-->
		<script>
		allDocs = {};
		sideShow = false;
		$(document).ready(function() {
			var allData = {};
	        console.log("$> Consumir Servicio");
	        var datox = {};

	        // SERVICIO DE CONSULTA DE DOCUMENTOS DISPONIBLES
	        $.ajax({
	                type:"GET",
	                dataType : 'json',
	                url: "api/v1/documentoscobranzas",
	                success: function(datox){
	                console.log("SUCCESS", datox);
	                allData = jsonConstructor(datox);
	                allDocs = allData;
	                buildListado(allData);
	            },
	                error:  function(){ 
	                var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor LECTURA 1.</h3></div>'
	                document.getElementById("grid").innerHTML = mensajeError;
	                }
	        });
			$(document).on('click', '.editar_side', function (e) {
				console.log("Editar");
				e.preventDefault();
				var body = document.body,
				dropArea = document.getElementById( 'drop-area' ),
				droppableArr = [], dropAreaTimeout;				
				if (sideShow == false) {
					//classie.add( body, 'drag-active' );
					//clearTimeout( dropAreaTimeout );
					classie.add( dropArea, 'show' );	
					sideShow = true;
				} else {
					classie.remove( dropArea, 'show' );
					classie.remove( body, 'drag-active' );					
					sideShow = false;
				}
				
			});	    
			$(document).on('click', '.delete_item', function (e) {
				console.log("ELIMINAR SIDE!!", e);
				e.preventDefault();
				var strTarget = (e.target.id).split("_");
				var idElement = strTarget[0];
				//var idElement = (e.target.id).replace("_dlt", "");
				//document.getElementById(idElement).style.display = "none";
				var strDocs = document.getElementById('allinclused').value;
				var newStrDocs = "";
				var Docs = strDocs.split("_");
					for (var j=0;j<Docs.length;j++) {
						if (Docs[j] != idElement && Docs[j] != "") {
							newStrDocs += Docs[j] + "_";
						}
					}
				document.getElementById('allinclused').value = newStrDocs;
				document.getElementById(idElement + "_added").style.display = "none";
				document.getElementById(idElement + "_agregado").style.display = "none";
			});				

			$(document).on('click', '.delete_item_grid', function (e) {
				console.log("ELIMINAR GRID!!", e);
				e.preventDefault();
				//var strTarget = (e.target.id).split("_");
				//var idElement = strTarget[0];
				var idElement = (e.target.id).replace("_dlt", "");
				document.getElementById(idElement + "_agregado").style.display = "none";
				document.getElementById(idElement + "_added").style.display = "none";
				var strDocs = document.getElementById('allinclused').value;
				var newStrDocs = "";
				var Docs = strDocs.split("_");
					for (var j=0;j<Docs.length;j++) {
						if (Docs[j] != idElement && Docs[j] != "") {
							newStrDocs += Docs[j] + "_";
						}
					}
				document.getElementById('allinclused').value = newStrDocs;
			});			

			$(document).on('click', '.procesar_documento', function (e) {
				console.log("PROCESAR!!");
				e.preventDefault();
				procesarDocumentos();
			});					   
			$(document).on('click', '.submit_documentos', function (e) {
				console.log("SBMT DOCS!!");
				var strDocs = document.getElementById('allinclused').value;
				var Docs = strDocs.split("_");
				var strLineas = "";
				for (i=0;i<allData.facturas.length;i++) {
					for (var j=0;j<Docs.length;j++) {
						if (Docs[j] == allData.facturas[i].Documento_ID) {
							var aplicar_valor = document.getElementById(allData.facturas[i].Documento_ID + "_text").value;
							//docAdds.push(allData.facturas[i]);
							//strLineas += allData.facturas[i].Documento_ID + "_" + allData.facturas[i].Aplicar + ":";
							strLineas += allData.facturas[i].Documento_ID + "_" + aplicar_valor + ":";
						}
					}
				}

	        	// SERVICIO DE ESCRITURA DE COBRO
		        $.ajax({
		                type:"GET",
		                dataType : 'json',
		                url: "api/v1/aplicarcobranzas?lineas=" + strLineas,
		                success: function(datox){
		                console.log("SUCCESS", datox);	                
		            },
		                error:  function(){ 
		                var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor. ESCRITURA</h3></div>'
		                //document.getElementById("grid").innerHTML = mensajeError;
		                console.log("Error - Escritura de cobro.");
		                }
		        });		

		        document.getElementById("allinclused").value = "";
		        document.body.style.overflowY = "scroll";
				document.getElementById("proc-area_cbza").style.display = "none";
				document.getElementById("agregados").innerHTML = '<div class="drop-area__item"><div class="dummy"></div></div>';

				$.ajax({
		                type:"GET",
		                dataType : 'json',
		                url: "api/v1/documentoscobranzas",
		                success: function(datox){
		                console.log("SUCCESS", datox);
		                allData = jsonConstructor(datox);
		                allDocs = allData;
		                buildListado(allData);
		            },
		                error:  function(){ 
		                var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor. LECTURA 2</h3></div>'
		                document.getElementById("grid").innerHTML = mensajeError;
		                }
		        });					

			});					    
	        // CONSTRUYE EL LISTADO DE DOCUMENTOS
			function buildListado(json){
				var jsonObject = json.facturas;	
				var lista = '';
				//var lista = '<div id="grid" class="grid_cbza clearfix">';
			    for (var i=0;i<jsonObject.length;i++) {
			    	//lista += '<div class="grid__item" id="' + jsonObject[i].Documento_ID + '" style="position:relative;"><br><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><i>&nbsp;&nbsp;' + jsonObject[i].Documentno + '</i></div>';
			    	lista += '<div class="grid__item" id="' + jsonObject[i].Documento_ID + '" style="position:relative;"><div class="itemHd">' + jsonObject[i].Documentno + '</div><div class="itemImg"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></div><div class="itemFoot">$' + jsonObject[i].Grandtotal + '</div></div>';
			    }			
			    //lista += "</div>";
			    console.log("Se agregan los elementos");
			    document.getElementById('grid').innerHTML = lista;
			    // INICIALIZAR ELEMENTOS
			    console.log("Se inicializan elementos");
				var body = document.body,
					dropArea = document.getElementById( 'drop-area' ),
					droppableArr = [], dropAreaTimeout;

				// initialize droppables
				[].slice.call( document.querySelectorAll( '#drop-area .drop-area__item' )).forEach( function( el ) {
					droppableArr.push( new Droppable( el, {
						onDrop : function( instance, draggableEl ) {
							// show checkmark inside the droppabe element
							classie.add( instance.el, 'drop-feedback' );
							clearTimeout( instance.checkmarkTimeout );
							instance.checkmarkTimeout = setTimeout( function() { 
								classie.remove( instance.el, 'drop-feedback' );
							}, 800 );
							// ...
						}
					} ) );
				} );

				// initialize draggable(s)
				[].slice.call(document.querySelectorAll( '#grid .grid__item' )).forEach( function( el ) {
					new Draggable( el, droppableArr, {
						scroll : true,
						scrollable : '#drop-area',
						scrollSpeed : 40,
						scrollSensitivity : 50,
						draggabilly : { containment: document.body },
						onStart : function() {
							sideShow = true;
							// add class 'drag-active' to body
							classie.add( body, 'drag-active' );
							// clear timeout: dropAreaTimeout (toggle drop area)
							clearTimeout( dropAreaTimeout );
							// show dropArea
							classie.add( dropArea, 'show' );
						},
						onEnd : function( wasDropped ) {
							sideShow = false;
							var afterDropFn = function() {
								// hide dropArea
								classie.remove( dropArea, 'show' );
								// remove class 'drag-active' from body
								classie.remove( body, 'drag-active' );
							};

							if( !wasDropped ) {
								afterDropFn();
							}
							else {
								// after some time hide drop area and remove class 'drag-active' from body
								clearTimeout( dropAreaTimeout );
								dropAreaTimeout = setTimeout( afterDropFn, 400 );
							}
						}
					} );
				} );			    
			    
			}

			// CONSTRUYE EL JSON CON EL QUE SE GENERARÁ EL LISTADO DE DOCUMENTOS
			function jsonConstructor(json) {
				console.log("JSON CONSTRUCTOR > ", json);
			    var rows = [];
			    var jsonObject = json.response;
			    for (var i=0;i<jsonObject.totalRows;i++) {
			        var row = {};
			        row.Documento_ID	= jsonObject.data[i].id;
			        row.Totallines 		= jsonObject.data[i].totallines;
			        row.Grandtotal 		= jsonObject.data[i].grandtotal;
			        row.Impuesto 		= jsonObject.data[i].impuesto;
			        row.Pagado 			= jsonObject.data[i].pagado;
			        row.Pendiente 		= jsonObject.data[i].pendiente;
			        row.Aplicar 		= jsonObject.data[i].pendiente;
			        row.Documentno 		= jsonObject.data[i].documentno;
			        row.Dateinvoiced 	= jsonObject.data[i].dateinvoiced;
			        row.Docstatus 		= jsonObject.data[i].docstatus;
			        rows.push(row);
			    }
			    var data = {
			                facturas: rows
			            };
			    return data;
			}  // Termina json Constructor	
			function procesarDocumentos() {
				document.body.style.overflowY = "hidden";
				console.log("DOCUMENTOS: " + document.getElementById('allinclused').value);
				var strDocs = document.getElementById('allinclused').value;
				var Docs = strDocs.split("_");
				var docAdds = [];
				for (i=0;i<allData.facturas.length;i++) {
					for (var j=0;j<Docs.length;j++) {
						if (Docs[j] == allData.facturas[i].Documento_ID) {
							docAdds.push(allData.facturas[i]);
						}
					}
				}
				console.log("Documentos Agregados: ", docAdds);
				var listaAdd = '<div class="itemAgregado"><div class="addDocno">Número de Documento</div><div class="addFecha">Fecha del Documento</div><div class="addTotal">Total</div><div class="addPendiente">Pendiente</div><div class="addPendiente">Aplicar</div></div>';
				for (var k=0;k<docAdds.length;k++) {

					listaAdd += '<div id="' + docAdds[k].Documento_ID + '_agregado" class="itemAgregado">';
					// DocNo
					listaAdd += '<div class="addDocno">' + docAdds[k].Documentno + '</div>';
					// Fecha
					listaAdd += '<div class="addFecha">' + docAdds[k].Dateinvoiced + '</div>';
					// Total
					listaAdd += '<div class="addTotal">$' + docAdds[k].Grandtotal + '</div>';
					// Pendiente
					listaAdd += '<div class="addPendiente">$' + docAdds[k].Pendiente + '</div>';
					// Pendiente Captura
					listaAdd += '<div class="addCaptura"><input type="text" value="' + docAdds[k].Pendiente + '" id="' + docAdds[k].Documento_ID + '_text"/></div>';
					listaAdd += '<div class="deleteCaptura"><a class="delete_item_grid"><span id="' + docAdds[k].Documento_ID + '_dlt" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></div>';
					listaAdd += '</div>';
				}
				listaAdd += '<br><br><div  align="right" style="padding-top:30%;padding-right:5%;"><button type="button" onclick="salirDock()" class="btn btn-default hover_clean" aria-label="Left Align"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Cancelar</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default hover_clean submit_documentos" aria-label="Left Align"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Aplicar</button></div>';
				document.getElementById("listadoAgregados").innerHTML = listaAdd;
				document.getElementById("proc-area_cbza").style.display = "block";
			}			
	    })();
			function getDocumentNo(id) {
				console.log("GET DOC NO", allDocs);
				var jsonObject = allDocs.facturas;	
				var docno = "No existe el doc con id: " + id;
				//var lista = '<div id="grid" class="grid_cbza clearfix">';
			    for (var i=0;i<jsonObject.length;i++) {
			    	if (id == jsonObject[i].Documento_ID) {
			    		docno = jsonObject[i].Documentno;
			    	}
			    }
			    return docno;
			}	   
			function salirDock() {
				document.body.style.overflowY = "scroll";
				document.getElementById("proc-area_cbza").style.display = "none";
			} 		
		</script>
	</body>
</html>
