<!DOCTYPE html>

<html>
<head>
    <title>CNTCTO</title>
    <style>
    </style>
</head>
<body>
    <h2>Contactanos</h2>

    <div class="form-group">
      <h3>Titulo</h3>
      <input id="titulo" type="text" class="form-control"/>
      <h3>Mensaje</h3>
      <textarea id="cuerpo" rows="10" class="form-control"></textarea><br><br>
      <div align="right">
        <button class="btn btn-primary" onclick="enviar();" type="button">enviar</button>
      </div>
    </div>
    <script type="text/javascript">
      function enviar(){
        console.log("INICIO ENVIAR");
        var titulo = document.getElementById('titulo').value;
        var cuerpo = document.getElementById('cuerpo').value;
        var correo = "<h2>" + titulo + "</h2><br>" + cuerpo + "<br>";
        var correo = correo + "responde a : <%= current_usuario.email%>";
        UserMailer.contacto_email(current_usuario, 'koalas').deliver_now
        document.getElementById('titulo').value = "";
        document.getElementById('cuerpo').value = "";
      }
    </script>
    <!--UserMailer.contacto_email(u, 'correo').deliver_now-->
</body>
</html>