<!DOCTYPE html>
<html>
<head>
    <title>POS</title>
    <style>
	    body, html {
	    	height: 98%;
	    	overflow-y:hidden;
		}
		.gridVenta {
			width: 100%;
		}
		.headGridVenta {
			background-color: #3498db;
			height: 2em;
			border: 0px solid black;
			color:white;
			padding-left: 1%;
			font-weight: bold;
		}
		.rowGridVenta {
			height: 2em;
			border: 0px solid black;
			color:black;
			padding-left: 1%;
			font-size: 130%;
			border-bottom: 1px solid #3498db;
			padding:3% 3% 3% 3%;
		}
		.rowGridVenta input[type=text] {
        width: 100%;
        text-align:center;
    	}		
    	.divGridVenta{
    		/*background-color: red;*/
    		height: 27em;
    		overflow-y: scroll;
    	}
		.divGridTotales {
			height: 6em;
		}
		.gridTotales {
			width: 100%;
			height: 100%;
		}
		.tdGridTotal{
			border: 0px solid black;
			font-weight: bold;
		}
		.allFrame {
			z-index: 110;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		    text-align:center;
		    background: rgba(0,0,0,0.7);
		    display:none;
		}
		.listadoLotes {
			z-index: 111;
			position: fixed;
			top: 19%;
			left: 15%;
			width: 70%;
			height: 70%;
			background-color: white;
			border-radius: 10px;
			padding: 3% 2% 1% 2%;
			/*overflow-y:scroll;*/
		}	
		.tdHeadLote {
			background-color: #2980b9;
			height: 3em;
			border: 0px solid black;
			color:white;
			padding-left: 1%;
			font-weight: bold;			
		}	
		.tdRowLote {
			height: 2em;
			border: 0px solid black;
			color:black;
			padding-left: 1%;
			font-size: 130%;
			border-bottom: 1px solid #3498db;
			padding:1% 3% 1% 3%;			

		}
		.tdRowLote a {
			color:#34495e;
			font-weight: bold;
		}
		.tdRowBtnLote {
			height: 2em;
			border: 0px solid black;
			color:black;
			padding-left: 1%;
			font-size: 130%;
			border-bottom: 1px solid #3498db;
		}		
		.btnLote {
			width: 100%;
			height: 100%;
			font-weight: bold;
			text-align: center;
			color:white;
			background-color:#3498db;
			border: 1px solid #3498db;
		}
		/****************************************************/
		#tdImpuestosVenta {
			text-align: right;
			padding: 3px 3px 3px 3px;
			font-size: 220%;
			font-weight: bold;
		}
		#btn_total {
			width: 100%;
			height: 100%;
			font-weight: bold;
			text-align: right;
			font-size: 250%;
			border-radius: 5px;
			color:#3498db;
			background-color: white;
			border: 1px solid #3498db;
		}
    </style>
</head>
<!--
http://csalinas-tegik:KopoTegik@ec2-54-166-72-236.compute-1.amazonaws.com:8080/openbravo/org.openbravo.service.json.jsonrest/pob_catalogoproductos?_where=id=%2784DF7B2B57F6493B86621A3399A5C884%27
FA5E5D1953094CE5B9834572F6B2DB08
	-->
<body><br><br><br><br>
	<div id="allFrame" class="allFrame">
		<div id="listadoLotes" class="listadoLotes"  align="center"></div>
	</div>
	<div id="leftFrame" style="background-color:red;width:50%;float:left;overflow-y:scroll;height:45px;"><br>
			<table id="GridLote" class="GridLote" width="100%">
				<tr>
					<td class="headGridLote" width="90%">Lote</td>
					<td class="headGridLote" width="10%">Inventario</td>
				</tr>
				<tr>
					<td class="rowGridLote" width="90%">EFM2343232ASASDA3012123392932032030293</td>
					<td class="rowGridLote" width="10%">2 pzas</td>
				</tr>				
				<tr>
					<td class="rowGridLote" width="90%">EFM2343232ASASDA3012123392932032030293</td>
					<td class="rowGridLote" width="10%">2 pzas</td>
				</tr>								
				<tr>
					<td class="rowGridLote" width="90%">EFM2343232ASASDA3012123392932032030293</td>
					<td class="rowGridLote" width="10%">2 pzas</td>
				</tr>				
				<tr>
					<td class="rowGridLote" width="90%">EFM2343232ASASDA3012123392932032030293</td>
					<td class="rowGridLote" width="10%">2 pzas</td>
				</tr>												
			</table>
	</div>
	<div id="rightFrame" style="width:50%;float:left">
		<div>
			<table id="gridVentaHeader" class="gridVenta">
				<tr>
					<td class="headGridVenta" width="50%">Producto</td>
					<td class="headGridVenta" width="20%">Precio</td>
					<td class="headGridVenta" width="10%">Cant.</td>
					<td class="headGridVenta" width="20%">Total</td></tr>
			</table>
		</div>
		<div id="divGridVenta" class="divGridVenta" width="100%">
		</div>
		<hr>
		<div id="divGridTotales" class="divGridTotales" style="background-color:white;">
			<table id="gridTotales" class="gridTotales"><tr><td rowspan="2" class="tdGridTotal" width="60%"></td><td  class="tdGridTotal" style="vertical-align:bottom">Impuestos:</td><td id="tdImpuestosVenta">$0.00</td></tr><tr><td colspan="2" class="tdGridTotal" height="65%;"><input type="button" class="btn_total" id="btn_total" value="$0.00"/></td></tr></table>
		</div>
		<hr>
		<div id="divGridUpc" width="100%">
			<input type="text" class="txtGridUpc" id="txtGridUpc" size="80">
		</div>
	</div>	
</body>
<script type="text/javascript">
$( document ).ready(function() {
	// Cargar panel derecho
	loadGrid();
	$( "#txtGridUpc").focus();
	// Captura cantidad de productos
	$(document).on('change', '.txtGridUpc', function (e) {
		console.log("Captura UPC");
		var producto_id = document.getElementById("txtGridUpc").value;
		$.ajax({
		  type:"GET",
		  dataType : 'json',
		  url: "api/v1/posproductos?producto_id=" + producto_id,
		  success: function(datos){
		  console.log("Producto", datos);
		  addProduct(datos);
		},
		  error:  function(){ 
		  	console.log("Ha ocurrido el error.");
		  }
		}); 	
		document.getElementById("txtGridUpc").value = "";	
	});	
	$(document).on('change', '.qtyGridVenta', function (e) {
		// cambia la cantidad del producto
		console.log("QTYP: ", e.currentTarget.id);
		// Carga popUp de lotes
		loadLotes();
	});
	$(document).on('click', '.loteSelected', function (e) {
		// Lote seleccionado
		console.log("Lote seleccionado: ", e);
		document.getElementById("allFrame").style.display = "none";
		$( "#txtGridUpc").focus();
	});	
});
/*************************************** FUNCIONES *************************************************************************/
function loadGrid() {
	var table = '<table id="gridVenta" class="gridVenta"></table>';
	document.getElementById("divGridVenta").innerHTML = table;
}
function loadLotes() {
	document.getElementById("allFrame").style.display = "block";
	var table = "<h3>Lotes</h3>";
	table += '<table width="90%"><tr><td width="100%" class="tdHeadLote">Lote</td></tr></table>';	
	table += '<div style="width:100%;height:70%;overflow-y:scroll;"><table width="90%">';
	for (var i=0;i<15;i++) {
		var lote = Math.floor((Math.random() * 1000000) + 1)*Math.floor((Math.random() * 1000000) + 1);
		if (i%2 == 0) {
			var style = 'style="background-color:white;color:#3498db"';
		} else {
			var style = 'style="background-color:#3498db;color:white"';
		}
		table += '<tr><td width="100%" ' + style + ' class="tdRowLote"><a class="loteSelected"><div id="' +  lote  +'" style="height:100%;width:100%">' + lote + '</div></a></td></tr>';
	}
	table += '</table></div>';
	document.getElementById("listadoLotes").innerHTML = table;
}
function addProduct(json) {
	var jsonObject = json.response;
	var datosProducto = [];
  	for (var i=0;i<jsonObject.totalRows;i++) {
  		datosProducto.push(jsonObject.data[i].name);
  		datosProducto.push("0.00");
  	}
	var table = document.getElementById("gridVenta");
	var lon = document.getElementById("gridVenta").rows.length;
	var row = table.insertRow(lon);
	var cell1 = row.insertCell(0);
	var cell2 = row.insertCell(1);
	var cell3 = row.insertCell(2);
	var cell4 = row.insertCell(3);
	cell1.innerHTML = datosProducto[0];
	cell2.innerHTML = datosProducto[1];
	cell3.innerHTML = '<input type="text" id="qtyGridVenta_' + lon + '" class="qtyGridVenta" value=""/>';
	cell4.innerHTML = "0.00";
		// enfocar el campo de cantidad
	$( "#qtyGridVenta_" + lon).focus();
	upKeyboard();
	// Display
	cell1.style.width = "50%";
	cell1.className = "rowGridVenta";
	cell2.style.width = "20%";
	cell2.className = "rowGridVenta";
	cell3.style.width = "10%";
	cell3.className = "rowGridVenta";
	cell4.style.width = "20%";
	cell4.className = "rowGridVenta";
}
function upKeyboard() {
	var table = '<table width="100%">';
	table += '<tr><td>x</td><td>x</td><td>x</td><td>x</td><td>x</td></tr>';
	table += '<tr><td>x</td><td>x</td><td>x</td><td>x</td><td>x</td></tr>';
	table += '<tr><td>x</td><td>x</td><td>x</td><td>x</td><td>x</td></tr>';
	table += '<tr><td>x</td><td>x</td><td>x</td><td>x</td><td>x</td></tr>';
	table += "</table>";
	document.getElementById("leftFrame").innerHTML = table;
}

</script>
</html>