<!DOCTYPE html>

<html>
<head>
    <title>CNTCTO</title>
    <style>
    </style>
</head>
<body>
<br><br><br><br>
<div align="center"><h2>Registro de usuarios</h2></div><br><br>
<% if  params[:estado]%>
	<% if  params[:estado] == "error"%>
		<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ha ocurrido un error!</h4><p>Por el momento no es posible registrar usuarios, intentalo más tarde.</p></div>
	<% end %>
	<% if  params[:estado] == "success"%>
		<div id="alert_limite" class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Correcto!</h4><p>Se ha realizado el registro con éxito.</p></div>
	<% end %>
<% end %>
<div id="alert_limite"></div><div id="alert_correo"></div>
 <form accept-charset="UTF-8" action="/registro" method="POST" onsubmit="return Validacion()">
  <div width="50%" style="padding-left:18%;padding-right:18%;">
	<div class="form-group">
		<br><strong>Nombre</strong><br>
		<input type="text" id="txtNombre" name="txtNombre" class="form-control"/>
		<br><strong>RFC</strong><br>
		<input type="text" id="txtRFC" name="txtRFC" class="form-control"/>
		<br><strong>Correo</strong><br>
		<input type="text" id="txtCorreo" name="txtCorreo" class="form-control"/><br><br>
		<input type="hidden" id="hdnRFC" name="hdnRFC" value="<%= current_usuario.empresa.rfc %>"/><br><br>
		<input type="hidden" id="hdnID" name="hdnID" value="<%= current_usuario.empresa_id %>"/><br><br>
		<div align="right">			
			<input type="submit" value="guardar" class="btn btn-default">      
		</div>
    </div>
   </div>
</form>
</body>
<script>
function Validacion() {
	document.getElementById("alert_limite").innerHTML = "";
	var nombre = document.getElementById("txtNombre").value;
	var rfc = document.getElementById("txtRFC").value;
	var correo = document.getElementById("txtCorreo").value;
	var correos = [<% Usuario.all.each do |usr|%>"<%= usr.email %>",<% end %>""];
	// valida que no se repita el correo
	if (correos.indexOf(correo)!=-1) {
		var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ya existe el correo.</h4><p>Ya existe un usuario con este correo registrado.</p></div>';
		document.getElementById("alert_limite").innerHTML = alerta;
		return false;
	}
	// valida existencia
	if ((nombre == null || nombre == "") || (rfc == null || rfc == "") || (correo == null || correo == "")) {
		var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ha faltado algo!</h4><p>Todos los campos son obligatorios.</p></div>';
		document.getElementById("alert_limite").innerHTML = alerta;
		return false;
	}
 	// valida correo
	if (!validateEmail(correo)) {
		var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>El formato del correo.</h4><p>Prueba con un correo con el siguiente formato <br> cuenta@dominio.com</p></div>';
		document.getElementById("alert_correo").innerHTML = alerta;
		return false;
	} 		
}

function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    console.log("$> " + email);
    console.log("$> " + re.test(email));
    return re.test(email);
}
</script>
</html>