<!DOCTYPE html>

<html>
<head>
    <title>CNTCTO</title>
    <style>
    </style>
</head>
<script type="text/javascript">
var allData = {};
$( document ).ready(function() {
	$( "#txtNombre" ).focus();
	$.ajax({
		                type:"GET",
		                dataType : 'json',
		                url: "api/v1/customers",
		                success: function(datox){
		                console.log("SUCCESS", datox);
		                allData = jsonConstructor(datox);
		                buildDropDown(allData);
		            },
		                error:  function(){ 
		                var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor, error en servicio de lectura de clientes.</h3></div>'
		                document.getElementById("listadoClientes").innerHTML = mensajeError;
		                }
		    });

	$(document).on('click', '.post_user', function (e) {
		console.log("POST USER");
		var varCorreo = document.getElementById("txtCorreo").value;
		var varNombre = document.getElementById("txtNombre").value;
		var varRFC = document.getElementById("txtRFC").value;
		var varHdnRFC = document.getElementById("hdnRFC").value;
		var varHdnId = document.getElementById("hdnId").value;
		var e = document.getElementById("bpartner_id");
		var bpartner_id = e.options[e.selectedIndex].value;
		$.ajax({
	                type:"GET",
	                dataType : 'html',
	                url: "/registro_nuevo?txtCorreo=" + varCorreo + "&txtNombre=" + varNombre + "&txtRFC=" + varRFC + "&hdnRFC=" + varHdnRFC + "&hdnID=" + varHdnId + "&bpartner_id=" + bpartner_id,
	                success: function(datox){
	                console.log("SUCCESS REGISTRO" + datox);
	                buildSuccess(datox);
	            },
	                error:  function(){ 
	                var mensajeError = '<br><br><br><div align="center"><h1>Ups!! algo ha salido mal.</h1><h3>No ha sido posible entablar comunicación, por favor comuniquese con su proveedor, error en servicio de lectura de clientes.</h3></div>'
	                console.log("ERROR REGISTRO");
	                //document.getElementById("listadoClientes").innerHTML = mensajeError;
	                }
			    });
	});


});
function jsonConstructor(json) {
    var rows = [];
    var jsonObject = json.response;
	for (var i=0;i<jsonObject.totalRows;i++) {
		var row = {};
        row.Cliente_ID		= jsonObject.data[i].id;
        row.Clave	 		= jsonObject.data[i].searchKey;
        //row.RFC		 		= jsonObject.data[i].rfc;
        row.RFC		 		= "";
        row.Nombre 			= jsonObject.data[i].name;
        //row.Vendedor    = jsonObject.data[i].vendor;
        row.Vendedor    = "";
        rows.push(row);
    }    
    var data = {
                //facturas: rows
                rows: rows
            };
    return data;
}  // Termina json Constructor
function buildDropDown(json) {
	var jsonObject = json.rows;	
	var tabla = '<select id="bpartner_id" class=""dropdown-cliente width="100%" style="font-size:120%;font-weight:bold;">';
	var rfc = "";
	for (var i=0;i<jsonObject.length;i++) {	
		tabla += '<option value="' + jsonObject[i].Cliente_ID + '">' + jsonObject[i].Clave + "&nbsp;&nbsp;" + jsonObject[i].Nombre + '</option>';
	}
	tabla += '</select>';
	document.getElementById("btn_clientes").innerHTML = tabla;
}
</script>
<body>
<br><br><br><br>
<div align="center"><h2>Registro de usuarios</h2></div><br><br>
<div id="alert_limite"></div><div id="alert_correo"></div>
<!-- <form accept-charset="UTF-8" action="/registro" method="POST" onsubmit="return Validacion()">-->
  <div width="50%" style="padding-left:18%;padding-right:18%;">
	<div class="form-group" id="form_registro">
		<br><strong>Nombre</strong><br>
		<input type="text" id="txtNombre" name="txtNombre" class="form-control"/>
		<br><strong>RFC</strong><br>
		<input type="text" id="txtRFC" name="txtRFC" class="form-control"/>
		<br><strong>Tercero</strong><br>
		<div id="btn_clientes" width="100%"></div>
		<br><strong>Correo</strong><br>
		<input type="text" id="txtCorreo" name="txtCorreo" class="form-control"/><br><br>
		<input type="hidden" id="hdnRFC" name="hdnRFC" value="<%=current_usuario.empresa.rfc %>" class="form-control"/>
		<input type="hidden" id="hdnId" name="hdnId" value="<%=current_usuario.empresa_id %>"class="form-control"/>
		<div align="right">			
			<!--<input type="submit" value="guardar" class="btn btn-default">-->
			<input type="button" value="guardar" class="btn btn-default post_user">
		</div>
    </div>
   </div>
<!--</form>-->
</body>
<script>
// ROLES
<% if current_usuario.isadmin != true %>
	console.log("RESTRICTED");
	document.getElementById("form_registro").remove(); 
	window.location.href="/unauthorized"
<% end %>
// ROLES        
function Validacion() {
	document.getElementById("alert_limite").innerHTML = "";
	var nombre = document.getElementById("txtNombre").value;
	var rfc = document.getElementById("txtRFC").value;
	var correo = document.getElementById("txtCorreo").value;
	var correos = [<% Usuario.all.each do |usr|%>"<%= usr.email %>",<% end %>""];
	// valida que no se repita el correo
	if (correos.indexOf(correo)!=-1) {
		var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ya existe el correo.</h4><p>Ya existe un usuario con este correo registrado.</p></div>';
		document.getElementById("alert_limite").innerHTML = alerta;
		return false;
	}
	// valida existencia
	if ((nombre == null || nombre == "") || (rfc == null || rfc == "") || (correo == null || correo == "")) {
		var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ha faltado algo!</h4><p>Todos los campos son obligatorios.</p></div>';
		document.getElementById("alert_limite").innerHTML = alerta;
		return false;
	}
 	// valida correo
	if (!validateEmail(correo)) {
		var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>El formato del correo.</h4><p>Prueba con un correo con el siguiente formato <br> cuenta@dominio.com</p></div>';
		document.getElementById("alert_correo").innerHTML = alerta;
		return false;
	} 		
}

function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    console.log("$> " + email);
    console.log("$> " + re.test(email));
    //return re.test(email);
    return true;
}

function buildSuccess(param) {
	alerta = "";
	switch (param) {
	    case "success":
	        var alerta = '<div id="alert_limite" class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Correcto!.</h4><p>Se completo el registro correctamente.</p></div>';
			document.getElementById("txtCorreo").value = "";
			document.getElementById("txtNombre").value = "";
			document.getElementById("txtRFC").value = "";
			document.getElementById("hdnRFC").value = "";
			document.getElementById("hdnId").value = "";			
			$( "#txtNombre" ).focus();	        
	        break;
	    case "error":
	        var alerta = '<div id="alert_limite" class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4>Ya existe el correo.</h4><p>Ya existe un usuario con este correo registrado.</p></div>';
	        $( "#txtCorreo" ).focus();	        
	        break;
	    default:
	        console.log("No existe en un parametro");
	}	
	document.getElementById("alert_limite").innerHTML = alerta;
}
</script>
</html>