<!DOCTYPE html>

<html>
<head>
    <title>CNTCTO</title>
    <style>
    </style>
</head>
<body>
<br><br><br><br><br><br><br><br>
<div align="center"><h2>Se realizó el registro exitosamente.</h2></div><br><br><br><br>
 <%= link_to "Nuevo Registro", registro_path %><br />
</body>
</html>