<!DOCTYPE html>

<html>
<head>
    <title>NOTFND</title>
    <style>
    </style>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div align="center"><h1 style="color:#e74c3c">No tienes permiso para ver esto con tu rol de usuario.</h1></div><br><br>
</body>
</html>