<%= form_for(@escribepedido) do |f| %>
  <% if @escribepedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escribepedido.errors.count, "error") %> prohibited this escribepedido from being saved:</h2>

      <ul>
      <% @escribepedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
