<%= form_for(@reportefactura) do |f| %>
  <% if @reportefactura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reportefactura.errors.count, "error") %> prohibited this reportefactura from being saved:</h2>

      <ul>
      <% @reportefactura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
